<div class="section">
  <div *ngIf="movieDetails" class="w-100 h-100 justify-content-center align-items-center">
    <div class="card bg-dark text-white">
      <img class="card-img movie-poster" src={{movieDetails.backdrop_path}} alt="Card image">
      <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src={{movieDetails.poster_path}} class="w-100">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h3 class="card-title">{{movieDetails.original_title}} <span style="color: lightgrey">({{movieDetails.release_date | date:'yyyy'}})</span></h3>
                <h5 style="margin-top: 2rem"><span style="color: lightgrey">Overview</span></h5>
                <p class="card-text">{{movieDetails.overview}}</p>
                <h5 style="margin-top: 2rem"><span style="color: lightgrey">Details</span></h5>
                <p class="card-text">User score: <span class="badge badge-success" style="font-size: 14px">{{movieDetails.vote_average}}</span></p>
                <p class="card-text">Release date: {{movieDetails.release_date | date:'longDate'}}</p>
                <p class="card-text">Status: {{movieDetails.status}}</p>
                <p class="card-text">Tagline: {{movieDetails.tagline}}</p>
                <p class="card-text">Genres: {{movieDetails.genres}}</p>
                <button type="button" class="btn btn-success add-to-fave" (click)="onAddFavorite(movieDetails.id)">Add to favorites</button>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
