<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/film-icon-2.png" width="30px" height="auto" class="d-inline-block align-top" alt="">
    MovieTracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar-nav mr-auto">
      <a routerLink="/home" routerLinkActive="active" class="nav-link" >Home<span class="sr-only">(current)</span></a>
      <a routerLink="/favorites" routerLinkActive="active" class="nav-link" >Favorites<span class="sr-only">(current)</span></a>
    </nav>
    <form #queryMovies="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit(queryMovies.value); queryMovies.resetForm()">
      <input required class="form-control mr-sm-2" type="search" placeholder="Search movies" aria-label="Search" name="searchInput" ngModel>
      <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!queryMovies.form.valid">Search</button>
    </form>
  </div>
</nav>
