.cards{
  margin: auto;
  padding: 0 10rem;
}

.card{
  margin-bottom: 20px;
}

.card-body{
  height: 100%;
  padding: 0.75rem 0;
}

.card-img{
  width: 100%;
  height: auto;
  border-radius: 0;
}

.movie-img{
  padding-right: 0;
}

.movie-desc{
  padding-left: 0;
}

.card-title{
  padding-bottom: 10px;
  padding-left: 14px;
  border-bottom: 1px solid lightgrey;
}

.card-info{
  padding: 0 14px;
}

.movie-card{
  margin: 20px auto;
  width: 44rem;
}

.movie-overview{
  font-size: 12px;
}
