<div class="container">
  <div *ngIf="movies.length===0" class="starter-template app-welcome">
    <h1>MovieTracker</h1>
    <p class="lead">Use MovieTracker to get information about any movie</p>
  </div>
  <div class="container starter-template">
    <form #queryMovies="ngForm" class="form-inline my-2 my-lg-0 justify-content-center" (ngSubmit)="onSubmit(queryMovies.value); queryMovies.resetForm()">
      <input required class="form-control mr-sm-2 border-dark search-movies" type="search" placeholder="Search movies" aria-label="Search" name="searchInput" ngModel>
      <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!queryMovies.form.valid">Search</button>
    </form>
  </div>
</div>
<div class="container cards h-100 justify-content-center align-items-center">
  <div *ngIf="movies">
    <div *ngFor="let movie of movies">
      <!--<span class="badge">{{movie.id}}</span> {{movie.title}}-->
      <div class="card border-secondary mb-3 movie-card">
        <div class="row">
          <div class="col-md-3 movie-img">
            <img class="card-img" src={{movie.poster_path}} alt="Card image cap">
          </div>
          <div class="col-md-9 movie-desc">
            <div class="card-body">
              <h5 class="card-title">
                {{movie.original_title}} ({{movie.release_date | date:'yyyy'}})
                <span class="badge badge-success">{{movie.vote_average}}</span>
              </h5>
              <div class="card-info">
                <p class="movie-overview">{{movie.overview}}</p>
                <button type="button" class="btn btn-outline-success" (click)="onMoreInfo(movie.id)">More info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-favorites></app-favorites>
