/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  width: 100%;
  height: 100%;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
