<div class="container">
  <div>
    <div class="starter-template fav-message">
      <p *ngIf="favoriteMovies.length===0" class="lead">Seems like you have no favorite movies yet :( </p>
      <p *ngIf="favoriteMovies.length > 0" class="lead">Here are your favorite movies: </p>
    </div>
  </div>
  <div *ngIf="favoriteMovies">
    <div *ngFor="let movie of favoriteMovies">
      <!--<span class="badge">{{movie.id}}</span> {{movie.title}}-->
      <div class="card border-secondary mb-3 movie-card">
        <div class="row">
          <div class="col-md-3 movie-img">
            <img class="card-img" src={{movie.poster_path}} alt="Card image cap">
          </div>
          <div class="col-md-9 movie-desc">
            <div class="card-body">
              <h5 class="card-title">
                {{movie.original_title}} ({{movie.release_date | date:'yyyy'}})
                <span class="badge badge-success">{{movie.vote_average}}</span>
              </h5>
              <div class="card-info">
                <p class="movie-overview">{{movie.overview}}</p>
                <button type="button" class="btn btn-outline-success" (click)="onMoreInfo(movie.id)">More info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
